.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.About {
  text-align: center;
}

.App-about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Projects {
  text-align: center;
}

.App-projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Contact {
  text-align: center;
}

.App-contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.ProfilePic {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  box-shadow: 10px 10px 100px 10px black;
}

body {
  background-color: rgb(31, 32, 36);
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

