/* BottomNavbar.css */

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.contact-info {
  font-size: 1rem;
}

.social-links a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}

.social-links a:hover {
  color: #0077b5; /* Change this to the color you prefer */
}

.social-links {
  margin-right: 1rem;
}
