/* BottomNavbar.css */

.bottom-navbar {
  position: relative;
  width: 100%;
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  display: flexbox;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  font-size: 0.9rem;
}

.contact-info {
  font-size: 1rem;
  align-items: left;
}

.social-links a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}

.social-links a:hover {
  color: #007bff; /* Change this to the color you prefer */
}

.social-links {
  margin-right: 1rem;
  align-items: right;
}

