/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #161616;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 50);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-logo {
  font-size: 0.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-logo:hover {
  color: #007bff;
}

.navbar-logo img {
  height: 30px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 2rem;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  color:#007bff;
}

/* Burger menu styles */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 3px;
  transition: all 0.3s ease;
}

.burger.toggle .line1 {
  transform: rotate(-405deg) translate(-6px, 6px);
  transition-delay: 0.2s;
}

.burger.toggle .line2 {
  opacity: 0;
}

.burger.toggle .line3 {
  transform: rotate(405deg) translate(-6px, -6px);
  transition-delay: 0.4ms;

}

/* Media queries for responsive navbar */
@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    opacity: 0;
    pointer-events: none;
  }

  .navbar-menu.open {
    transform: translateY(0);
    opacity: 0.9;
    pointer-events: auto;
  }

  .navbar-item {
    margin: 1rem 0;
  }

  .burger {
    display: flex;
  }
}
